---
layout: page
title: Index Page
---

{% for post in paginator.posts %}
<div style="clear:both">
  <h3>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <span class="pull-right">
      <small>
	{{post.date | date: "%B %d, %Y"}}
      </small>
    </span>
  </h3>
  <div style="text-align:justify;text-justify:distribute;font;clear:both">
    {{ post.content }}
  </div>
</div>
{% endfor %}

<div style="clear:both" class="toandfro">
  <ul class="pager">
  {% if paginator.previous_page == 1 %}
  <li><a href="/">Previous</a></li>
  {% elsif paginator.previous_page %}
  <li><a href="/page{{ paginator.previous_page }}">Previous</a></li>
  {% endif %}
  
  {% if paginator.next_page %}
  <li><a href="/page{{ paginator.next_page }}">Next</a></li>
  {% endif %}
  </ul>
</div>
