<!DOCTYPE html>
<html lang="en" ng-app="floatWords"
      ng-controller="MainCtrl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floating Words</title>
    <style>
      body {
      background-image: url(profile.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 70%;
      height: {{ window.innerHeight }}px;
      font-family: Helvetica, Sans-Serif;
      font-size: 13pt;
      }
    </style>
    <script src="bundle.js"></script>
  </head>

  <body>
    <flo-quo ng-repeat="q in quotes"
	     quot-src="q"
	     ng-style="q.style"
	     ng-if="$index < counter">
    </flo-quo>
  </body>
</html>
