<!DOCTYPE html>
<html>
  <head>
    <title>Rothlblogging</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1>Hello, world!</h1>

    {{ content }}

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/media/js/bootstrap.min.js"></script>

    <!-- Optionally enable responsive features in IE8 -->
    <!-- <script src="js/respond.js"></script> -->
  </body>
</html>

